<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Glance - Lister Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>Glance - Lister WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Lister (OS X).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>Lister Today (OS X).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>Lister Today.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>Lister Watch App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Lister WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>Lister.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ListerKit (OS X).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>ListerKit (watchOS).xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>ListerKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1611C5E71A925C1D00472891</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16A9851B1936EEA5007B7F37</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16CBDAA618F6EE3A00233D3C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16CD55E01B127D2400DB4F4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16CD560B1B127DDC00DB4F4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16EE5953192016410052916A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>16F60BFC1A854A650028B2D8</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E251756197F7A0400B8AF96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E251766197F7A1400B8AF96</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E497FC518FAFA2400B32837</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E93585D1920343C0091408E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3E93587C1920355C0091408E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
